* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: system-ui, sans-serif;
  background-color: #ffffff;
  color: #333;
}

.App {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding: 20px;
}